<% if @model == 'member' %>
	<h3>Members search for "<%= @content %>"</h3>
  <%= render 'members/index', members: @records %>
<% elsif @model == 'post' %>
	<h3>Posts search for "<%= @content %>"</h3>
  <%= render 'posts/index', posts: @records %>
<% end %>
