<h1>全ユーザー一覧</h1>

<table class="table table-striped table-hover">
  
  <thead class="thead-dark">
    <tr>
      <th style="width: 40%;">ユーザー名</th>
      <th style="width: 40%;">メールアドレス</th>
      <th style="width: 20%;">操作</th>
    </tr>
  </thead>
  
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td class="align-middle">
          <%= link_to member.name, admin_member_path(member) %> 
        </td>
        
        <td class="align-middle">
          <%= member.email %>
        </td>
        
        <td class="align-middle">
          <%= link_to '削除', admin_member_path(member), 
                      method: :delete, 
                      data: { confirm: '本当に ' + member.name + ' を削除しますか？' },
                      class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>