<h1>全ユーザー一覧</h1>
<ul>
  <% @members.each do |member| %>
    <li>
      
      <%= link_to member.name, admin_member_path(member) %> 
      
      - <%= member.email %>
      
      <%= link_to '削除', admin_member_path(member), method: :delete, data: { confirm: '本当に削除しますか？' } %> 
    </li>
  <% end %>
</ul>